extends ~Layout/main-layout.pug

block variables
  include ~Blocks/icon-text-list/icon-text-list.pug
  include ~Blocks/review/review.pug
  include ~Blocks/bullet-list/bullet-list.pug
  include ~Blocks/reservation/reservation.pug
  include ~Blocks/pie-chart/pie-chart.pug

  - const pageTitle = "Room-details";
  - const classMain = "room-details";
  - const headerProps = { loginLink: 'index.html', itemList: [ {text: 'О нас', link: '/mock-address/change-me'}, {text: 'Услуги', link: '/mock-address/change-me', subItemList: [ {text: 'бронирование', link: '/mock-address/change-me'}, {text: 'съем квартиры', link: '/mock-address/change-me'}, {text: 'продажа квартиры', link: '/mock-address/change-me'} ]}, {text: 'Вакансии', link: '/mock-address/change-me'}, {text: 'Новости', link: '/mock-address/change-me'}, {text: 'Соглашения', link: '/mock-address/change-me', subItemList: [ {text: 'правила', link: '/mock-address/change-me'}, {text: 'договор', link: '/mock-address/change-me'} ]} ], loginButton: { text: 'войти', link: 'landing-sign-in.html', theme: 'border', size: 'small-border' }, registerButton: { text: 'зарегистрироваться', link: 'landing-registration.html', size: 'small' }, subItemList1: [ {text: 'бронирование', link: '/mock-address/change-me'}, {text: 'съем квартиры', link: '/mock-address/change-me'}, {text: 'продажа квартиры', link: '/mock-address/change-me'} ] };
  - const footerProps = { linkLogo: 'index.html', textLogo: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', placeholder: 'Email', itemList1: [ {title: 'навигация'}, {text: 'О нас', link: '/mock-address/change-me'}, {text: 'Новости', link: '/mock-address/change-me'}, {text: 'Служба поддержки', link: '/mock-address/change-me'}, {text: 'Услуги', link: '/mock-address/change-me'} ], itemList2: [ {title: 'о нас'}, {text: 'О сервисе', link: '/mock-address/change-me'}, {text: 'Наша команда', link: '/mock-address/change-me'}, {text: 'Вакансии', link: '/mock-address/change-me'}, {text: 'Инвесторы', link: '/mock-address/change-me'} ], itemList3: [ {title: 'Служба поддержки'}, {text: 'Соглашения', link: '/mock-address/change-me'}, {text: 'Сообщества', link: '/mock-address/change-me'}, {text: 'Связь с нами', link: '/mock-address/change-me'} ], titleSub: 'Подписка', textSub: 'Получайте специальные предложения и новости сервиса', copyright: 'Copyright © 2018 Toxin отель. Все права зачищены', iconList: [ {link: '/mock-address/change-me', icon: 'fa-twitter'}, {link: '/mock-address/change-me', icon: 'fa-facebook-square'}, {link: '/mock-address/change-me', icon: 'fa-instagram'} ] };
  - const itemsPeople = [{text: 'взрослые', value: '2', name: 'adults'}, {text: 'дети', value: '1', name: 'children'}, {text: 'младенцы', value: '0', name: 'babies'}];
  - const iconList = [{ icon: "insert_emoticon", title: "Комфорт", text: "Шумопоглощающие стены", theme: "border" }, { icon: "location_city", title: "Удобство", text: "Окно в каждой из спален", theme: "border" }, { icon: "whatshot", title: "Уют", text: "Номер оснащён камином" }];
  - const pieChartList = [{text: 'Великолепно', theme: 'great', votes: 65}, {text: 'Хорошо', theme: 'good', votes: 65}, {text: 'Удовлетворительно', theme: 'norm', votes: 130} , {text: 'Разочарован', theme: 'disappoint', votes: 0}];
  - const textHotelCards = { typeText: "люкс", period: "в сутки", reviewText: "Отзывов" };

block content
  .room-details__wrapper-img
    img.room-details__main-img(src='img/room-details-1.png')
    .room-details__col-img
      img.room-details__img(src='img/room-details-2.png')
      img.room-details__img(src='img/room-details-3.png')
  .room-details__wrapper-content
    +page({})
      +center-block
        .room-details__content
          .room-details__col-8
            section.room-details__info
              h2.room-details__title Сведения о номере
              +icon-text-list({ isFull: true, iconList })
            section.room-details__diagram
              h2.room-details__title Впечатления от номера
              .room-details__pie-chart
                +pie-chart({ img: 'img/pie.svg', votes: '260', votesText: 'голосов' , pieChartList})
          section.room-details__details__reviews
            .room-details__wrapper-title
              h2.room-details__title Отзывы посетителей номера
              p.room-details__text-review 2 отзыва
            ul.room-details__items-review
              li.room-details__review
                +review({ img: 'img/review-image-1.png', username: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', number: '12', ame: 'liked-1', id: 'review-1', isChecked: true })
              li.room-details__review
                +review({ img: 'img/review-image-2.png', username: 'Патрисия Стёклышкова', date: 'Неделю назад', text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', number: '2', id: 'review-2', name: 'liked-2' })
          section.room-details__items-rule
            .room-details__rule
              h2.room-details__title-rule Правила
              +bullet-list({ itemList: [ {text: 'Нельзя с питомцами'}, {text: 'Без вечеринок и мероприятий '}, {text: 'Время прибытия — после 13:00, а выезд до 12:00'} ] })
            .room-details__cancel
              h2.room-details__title-cancel Отмена
              p.room-details__text-cancel.room-details__text-cancel_small Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details__reservation
          +reservation({ number: '888', price: '9 990₽', link: '/mock-address/change-me', itemsList: itemsPeople, text: textHotelCards })
