include ../text-field/text-field.pug
include ../button/button.pug

mixin sign-in({ title, text, link, textFieldEmail, textFieldPassword, buttonSubmit, buttonRegistration })
  form.sign-in(action=link)
    h1.sign-in__title= title

    .sign-in__text-field
      +text-field(textFieldEmail)
    .sign-in__text-field
      +text-field(textFieldPassword)
    .sign-in__button
      +button(buttonSubmit)
    .sign-in__create
      p.sign-in__text= text
      +button(buttonRegistration)
