include ../text-field/text-field.pug
include ../button/button.pug

mixin sign-in({ title, link })
  form.sign-in(action=link)
    h1.sign-in__title= title

    .sign-in__text-field
      +text-field({ placeholder: 'Email', name: 'email', type: 'text' })
    .sign-in__text-field
      +text-field({ placeholder: 'Пароль', name: 'password', type: 'text' })
    .sign-in__button
      +button({ text: 'войти', isButtonLarge: true, isButton: true, type: 'submit' })
    .sign-in__create
      p.sign-in__text Нет аккаунта на Toxin?
      +button({ text: 'создать', link: 'landing-registration.html', theme: 'border' })
