@import '../../scss/global-typography';

.sign-in {
    width: 320px;
    padding: 40px 29px 31px 29px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media (max-width: $breakpoint-xxs) {
        padding: 44px 19px 29px 19px;
        width: 300px;
    }

    &__title {
        @include typo-h1;
        margin-bottom: 19px;
    }

    &__text-field {
        margin-top: 10px;
    }

    &__text {
        @include typo-body;
    }

    &__create {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__button {
        margin-top: 20px;
    }
}