extends ~Layout/main-layout.pug

block variables
  - data = require("./landing-page.json");

  - const pageTitle = "Landing-page";
  - const classMain = "landing-page";
  - const classWrapper = "landing-page__content";

block content
  include ~Blocks/hotel-search/hotel-search.pug

  +page({})
    +center-block({})
      .landing-page__hotel-search
        +hotel-search(data.hotelSearch)
  +page({})
    .landing-page__wrapper-text
      p.landing-page__text= data.text
