@import '~Typography';
@import '~Layout/main-layout';
@import '~Blocks/hotel-search/hotel-search';

.landing-page {
  &__content {
    width: 100%;
    height: 830px;
    background: url(img/landing-image.png) 100% 100% no-repeat;
    background-size: cover;

    @media (max-width: $breakpoint-md) {
      height: 700px;
    }

    @media (max-width: $breakpoint-sm) {
      height: 600px;
    }

    @media (max-width: $breakpoint-xs) {
      height: 530px;
    }
  }

  &__hotel-search {
    margin-top: 55px;
  }

  &__text-wrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $breakpoint-md) {
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__text {
    @include typo-body;

    max-width: 300px;
    margin-top: 287px;
    align-self: flex-end;
    text-align: right;

    @media (max-width: $breakpoint-md) {
      text-align: center;
      margin: 0;
    }
  }
}
