mixin button(object)
    - var theme = (object.theme ? " button--" + object.theme : "");
    - var size = (object.size ? " button--" + object.size : "");
    - var state = (object.state ? " button--" + object.state : "");
    - var themeHeader = (object.themeHeader ? " button--" + object.themeHeader : "");

    if(!object.buttonLarge)
        a(class="button" + theme + size + state + themeHeader href=object.link)=object.text
    else
        a(class="button button--large" + theme + size + state + themeHeader href=object.link)=object.text
            i(class="button__icon") arrow_forward