mixin button({ theme, size, isActive, isColorGray, themeHeader, hasIcon, link, text, isButton, type = 'button' })
  -
    let mainClasses = '';
    const themeSetting = ['outlined', 'icon-link'];
    const sizeSetting = ['large', 'small', 'smallest'];

    if(themeSetting.includes(theme)) mainClasses += ' button_theme_' + theme;
    if(sizeSetting.includes(size)) mainClasses += ' button_size_' + size;
    if(isActive) mainClasses += ' button_active';
    if(isColorGray) mainClasses += ' button_color_gray';

  if (isButton)
    button.button.js-button(class=mainClasses, type=type)= text
      if (hasIcon)
        i.button__icon arrow_forward
  else
    a.button(class=mainClasses, href=link)= text
      if (hasIcon)
        i.button__icon arrow_forward
