@import '../../scss/global-typography';

.button {
    @include typo-h3;
    position: relative;
    width: 99px;
    display: inline-block;
    padding: 14.5px 0;
    background: $gradient-primary;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 22px;

    &:hover, &--active {
        opacity: 0.5;
    }

    &__icon {
        @include material-icons;
        top: 10px;
        right: 10px;
        position: absolute;
    }

    &--border {
        width: 95px;
        padding: 12.5px 0;
        background: #fff;
        border: 2px solid $color-primary;
        color: $color-primary;
    }

    &--icon-link {
        width: 83px;
        padding: 0;
        color: $color-primary;
        background: none;
        text-align: left;

        &:hover, &-active {
            opacity: 1;
            color: $dark-shade-50;
        }
    }

    &--small {
        padding: 9.5px 0;
    }

    &--large {
        width: 320px;

        @media (max-width: $breakpoint-xxs) {
            width: 300px;
        }
    }

    &--login {
        width: 83px;
        padding: 9.5px 0;
        line-height: 11px;
    }

    &--register {
        width: 196px;
        padding: 9.5px 0;
    }

    &--login-small {
        width: 75px;
        padding: 9.5px 0;
        line-height: 11px;
    }

    &--register-small {
        width: 101px;
        padding: 9.5px 0;
    }
}