@import '~Typography';

.button {
  @include typo-h3;
  position: relative;
  min-width: 99px;
  display: inline-block;
  padding: 14.5px 19.5px;
  background: $gradient-primary;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 22px;
  box-sizing: border-box;

  &:hover,
  &_active {
    opacity: 0.5;
  }

  &__icon {
    @include material-icons;
    top: 10px;
    right: 10px;
    position: absolute;
    color: #fff;
  }

  &_border {
    padding: 12.5px 17.5px;
    background: #fff;
    color: $color-primary;
    background-clip: padding-box;
    border: solid 2px transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: $gradient-primary;
    }

    &:hover,
    &_active {
      opacity: 1;

      &:before {
        opacity: 0.5;
      }
    }
  }

  &_active-border {
    &:before {
      opacity: 0.5;
    }
  }

  &_icon-link {
    padding: 0;
    min-width: auto;
    color: $color-primary;
    background: none;
    text-align: left;

    &:hover,
    &-active {
      opacity: 1;
      color: $dark-shade-50;
    }
  }

  &_large {
    width: 100%;
  }

  &_small {
    padding: 9.5px 19.5px;
  }

  &_small-border {
    min-width: auto;
    padding: 7.5px 17.5px;
  }
}
