mixin button({ theme, size, state, themeHeader, hasIcon, link, text, isButton, type })
  -
    let mainClass = '';
    type = type ? type : '';
    const themeSetting = ['border', 'active-border', 'icon-link'];
    const sizeSetting = ['large', 'small', 'small-border'];
    const stateSetting = ['active', 'active-border', 'icon-link-active'];

    if(themeSetting.includes(theme)) mainClass += ' button_' + theme;
    if(sizeSetting.includes(size)) mainClass += ' button_' + size;
    if(stateSetting.includes(state)) mainClass += ' button_' + state;

  if (isButton)
    button.button(class=mainClass, href=link, type=type)= text
      if (hasIcon)
        i.button__icon arrow_forward
  else
    a.button(class=mainClass, href=link)= text
      if (hasIcon)
        i.button__icon arrow_forward
