.text-field {
    display: flex;
    flex-flow: column;

    &__label {
    }

    &__wrapper-text {
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text-state {
        padding-top: 3px;
        align-self: baseline;
        color: $dark-shade-50;
        font-weight: normal;
    }
    
    &__input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 320px;
        height: 44px;
        padding-left: 15px;
        color: $dark-shade-25;
        border: 1px solid $dark-shade-25;
        border-radius: 4px;
        box-sizing: border-box;

        &:hover, &:focus, &--active {
            color: $dark-shade-75;
            border: 1px solid $dark-shade-50;
        }

        &--open {
            border-radius: 4px 4px 0 0;
        }

        &--date {
            width: 150px;
        }
    }

    &__icon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        right: 0;

        &--submit {
            color: $color-primary;
            pointer-events: painted;
            cursor: pointer;
        }
    }

    &--small {
        width: 266px;
    }

    &--date {
        width: 150px;
    }
}