@import '~Typography';

.page {
  position: relative;
  max-width: 1920px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  padding: 15px;

  &_small {
    padding: 13.5px 15px 13.5px 15px;
  }

  @media (max-width: $breakpoint-xxs) {
    padding: 10px;
  }
}
