@import '~Typography';
@import '~Blocks/page/page';
@import '~Blocks/center-block/center-block';
@import '~Blocks/text-field/text-field';

.footer-copyright {
  .fa {
    font-size: 24px;
    background-image: $gradient-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__wrapper-logo {
    max-width: 260px;

    @media (max-width: $breakpoint-md) {
      max-width: 447px;
    }
  }

  &__logo {
    height: 40px;
    margin-bottom: 15px;
  }

  &__title {
    @include typo-h3;
  }

  &__text {
    @include typo-body;

    text-align: center;
  }

  &__text-logo {
    @include typo-body;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__wrapper-copyright {
    margin-bottom: 21px;
    text-align: center;
  }

  &__wrapper-list {
    display: flex;
    width: 560px;
    justify-content: space-between;
    margin: 0 25px;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__list {
    min-width: 160px;
    padding-top: 4px;
  }

  &__list-item {
    margin-bottom: 22px;

    @media (max-width: $breakpoint-md) {
      width: auto;
    }

    @media (max-width: $breakpoint-xs) {
      margin-bottom: 10px;
    }
  }

  &__link {
    @include typo-body;

    color: $dark-shade-50;
    text-decoration: none;
    line-height: 15px;

    &:hover,
    &_active {
      color: $dark-shade-75;
      font-weight: bold;
    }
  }

  &__wrapper-subscribe {
    width: 260px;
    margin-top: 4px;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__title-subscribe {
    @include typo-h3;
  }

  &__text-subscribe {
    @include typo-body;

    padding-top: 18px;
  }

  &__subscribe {
    padding-top: 23px;
  }

  &__wrapper-text {
    flex-flow: column;
  }

  &__item {
    margin-left: 25px;

    &:first-child {
      margin: 0;
    }
  }

  &__bottom-footer {
    border-top: 1px solid $dark-shade-5;
    margin-top: 64px;
    padding: 9px 0 7px 0;

    @media (max-width: $breakpoint-md) {
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  &__social {
    display: flex;

    @media (max-width: $breakpoint-md) {
      padding-top: 20px;
    }

    &_creative {
      padding-top: 0;
    }
  }

  &_full {
    padding: 85px 0 0 0;
  }

  &_creative {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 120px 0 110px 0;
  }

  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 120px 0 110px 0;

    .page {
      padding: 0;
    }
  }

  @media (max-width: $breakpoint-xs) {
    padding: 120px 15px 110px 15px;
  }
}
