mixin pagination({ itemList, nextPage, text })
  .pagination
    each item in itemList
      - const { isCurrentPage, link, text } = item;
      if (isCurrentPage)
        a.pagination__number.pagination__number--current(href=link)= text
      else
        a.pagination__number(href=link)= text

    a.pagination__next-page(href=nextPage) arrow_forward

  p.pagination__text= text
