mixin pagination(object)

    .pagination
        for item in object.itemList
            if(item.currentPage)
                a(class="typo-body pagination__number pagination__number--current" href=item.link)=item.text
            else
                a(class="typo-body pagination__number" href=item.link)=item.text

        a(class="material-icons pagination__next-page" href=object.nextPage) arrow_forward

    p(class="typo-body pagination__text")=object.text