@import '~Typography';

.pagination {
  &__navigate {
    @include material-icons;

    padding: 8px;
    background: $gradient-secondary;
    color: #fff;
    border-radius: 22px;
    text-decoration: none;

    @media (max-width: $breakpoint-xs) {
      padding: 4px;
    }
  }

  &__text {
    @include typo-body;

    margin-top: 9px;
    margin-left: 4px;
    text-transform: none;
  }

  .simple-pagination {
    display: flex;
    align-items: center;

    @media (max-width: $breakpoint-xs) {
      justify-content: center;
    }

    li {
      > * {
        @include typo-body;

        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        text-decoration: none;
      }
    }

    .page-link, .ellipse {
      @media (max-width: $breakpoint-xs) {
        width: 32px;
        height: 32px;
        line-height: 32px;
      }
    }

    .current {
      background: $gradient-primary;
      color: #fff;
      border-radius: 22px;

      @media (max-width: $breakpoint-xs) {
        width: 32px;
        height: 32px;
        line-height: 32px;
      }
    }

    .disabled {
      display: none;
    }
  }
}
