@import '../../scss/global-typography';

.pagination {
    display: flex;
    align-items: center;

    &__number {
        @include typo-body;
        padding: 8px 16px;
        font-size: 12px;
        text-decoration: none;

        &--current {
            padding: 8px 17.84px;
            background: $gradient-primary;
            color: #fff;
            border-radius: 22px;
        }
    }

    &__next-page {
        @include material-icons;
        padding: 8px;
        background: $gradient-secondary;
        color: #fff;
        border-radius: 22px;
        text-decoration: none;
    }

    &__text {
        @include typo-body;
        margin-top: 9px;
        margin-left: 4px;
        text-transform: none;
    }
}