@import '~Typography';
@import '~Blocks/radio-button/radio-button';

.radio-buttons {
  &__title {
    margin-bottom: 12px;
  }

  &__item {
    &:first-child {
      margin-right: 20px;
    }
  }

  &__items {
    display: flex;
  }
}
