include ../radio-button/radio-button.pug

mixin radio-buttons({ list })
  .radio-buttons
    ul.radio-buttons__items
      each item in list
        - const { isChecked, value, name, text } = item;
        li.radio-buttons__item
          +radio-button({isChecked, value, name, text})
