extends ~Layout/main-layout.pug

block variables
  include ~Blocks/date-picker/date-picker.pug
  include ~Blocks/dropdown/dropdown.pug
  include ~Blocks/range-slider/range-slider.pug
  include ~Blocks/checkbox-buttons/checkbox-buttons.pug
  include ~Blocks/bullet-list/bullet-list.pug
  include ~Blocks/checkbox-list/checkbox-list.pug
  include ~Blocks/hotel-card/hotel-card.pug
  include ~Blocks/pagination/pagination.pug

  - data = require("./search-room.json");

  - const pageTitle = "Search-room";
  - const classMain = "search-room";
  - const classWrapper = "search-room__layout-body";
  - const isPageCenter = true;

block content
  aside.search-room__sidebar
    .search-room__date-picker
      +date-picker(data.datePicker)
    .search-room__dropdown
      +dropdown(data.dropdownPeople)
    .search-room__range-slider
      +range-slider(data.rangeSlider)
    p.search-room__text-range-slider= data.textRangeSlider
    .search-room__checkbox-buttons
      +checkbox-buttons(data.checkboxButtonsRules)
    .search-room__rich
      +checkbox-buttons(data.checkboxButtonsRich)
    .search-room__dropdown-room
      +dropdown(data.dropdownRoom)
    .search-room__checkbox-list
      +checkbox-list(data.checkboxList)

  article.search-room__content
    h1.search-room__title= data.title
    ul.search-room__wrapper-hotel-card
      each item in data.hotelCards
        - const { number, list, price, isLux, link, reviews, star, text, carousel } = item;
        li.search-room__hotel-card
          +hotel-card({number, list, price, isLux, link, reviews, star, text, carousel})

    .search-room__pagination
      +pagination(data.pagination)
