@import '~Typography';
@import '~Layout/main-layout';
@import '~Blocks/date-picker/date-picker';
@import '~Blocks/dropdown/dropdown';
@import '~Blocks/range-slider/range-slider';
@import '~Blocks/checkbox-buttons/checkbox-buttons';
@import '~Blocks/bullet-list/bullet-list';
@import '~Blocks/checkbox-list/checkbox-list';
@import '~Blocks/hotel-card/hotel-card';
@import '~Blocks/pagination/pagination';

.search-room {
  &__layout-body {
    padding-bottom: 56px;
    border-bottom: 1px solid $dark-shade-25;
  }

  &__date-picker {
    margin-top: 10px;
  }

  &__dropdown {
    margin-top: 15px;
  }

  &__range-slider {
    margin-top: 30px;
  }

  &__checkbox-buttons {
    max-width: 240px;
    margin-top: 26px;
  }

  &__text-range-slider {
    @include typo-body;
    margin-top: 9px;
    font-size: 12px;
  }

  &__rich {
    max-width: 240px;
    margin-top: 34px;
  }

  &__dropdown-room {
    margin-top: 9px;
  }

  &__checkbox-list {
    margin-top: 25px;
  }

  &__content {
    width: 100%;
    max-width: 834px;
    margin-top: 15px;
  }

  &__hotel-card {
    margin-bottom: 18.5px;
    margin-right: 12px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    @media (max-width: $breakpoint-sm) {
      margin-right: 0;
    }
  }

  &__title {
    @include typo-h1;
    margin-bottom: 21px;
    text-transform: none;
  }

  &__wrapper-hotel-card {
    display: flex;
    flex-flow: wrap;

    @media (max-width: $breakpoint-sm) {
      align-items: center;
      flex-flow: column;
    }
  }

  &__pagination {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 41px;
    margin-right: 14.6px;
  }
}
