mixin block-color({ itemList })
  each item in itemList
    li.block-color
      - let { theme, title, text } = item;
      - const squareThemeClass = theme ? " block-color__square_" + theme : "";
      .block-color__square(class="block-color__square_" + squareThemeClass)
      .block-color__wrapper-text
        h2.block-color__title= title
        p.block-color__text= text
