mixin block-color({ itemList })
  ul.block-color
    each item in itemList
      -
        let { theme, title, text } = item;
        let squareClass = '';
        const themeSetting= ['color-secondary', 'color-primary', 'dark-shade-5', 'dark-shade-25', 'dark-shade-50', 'dark-shade-75 '];
        if(themeSetting.includes(theme)) squareClass +=  ' block-color__square_' + theme;

      li.block-color__item
        .block-color__square(class=squareClass)
        .block-color__wrapper-text
          h2.block-color__title= title
          p.block-color__text= text
