extends ../../layout/main-layout.pug

block variables
  include ../../blocks/footer-creative/footer-creative.pug

  - const pageTitle = "Headers & Footers";
  - const classMain = "ui-kits-header-footer";
  - const classImg = "ui-kits-header-footer__img";

block content
  .ui-kits-header-footer__header
    +header({ size: 'small', itemList: [ {text: 'Home', link: '/mock-address/change-me', state: 'active'}, {text: 'About Us', link: '/mock-address/change-me'}, {text: 'Services', link: '/mock-address/change-me', isIcon: true}, {text: 'Careers', link: '/mock-address/change-me'}, {text: 'News', link: '/mock-address/change-me'}, {text: 'Documentation',link: '/mock-address/change-me'}, ], loginButton: { text: 'Login', link: 'landing-sign-in.html', theme: 'border', size: 'small-border' }, registerButton: { text: 'REGISTER', link: 'landing-registration.html', size: 'small' }, subItemList1: [ {text: 'reservation', link: '/mock-address/change-me'}, {text: 'rent an apartment', link: '/mock-address/change-me'}, {text: 'apartment for sale', link: '/mock-address/change-me'} ] })
  .ui-kits-header-footer__header
    +header({ size: 'small', itemList: [ {text: 'Home', link: '/mock-address/change-me', state: 'active'}, {text: 'About Us', link: '/mock-address/change-me'}, {text: 'Services', link: '/mock-address/change-me', isIcon: true}, {text: 'Careers', link: '/mock-address/change-me'}, {text: 'News', link: '/mock-address/change-me'}, {text: 'Documentation', link: '/mock-address/change-me'}, ], subItemList: [ {text: 'reservation', link: '/mock-address/change-me'}, {text: 'rent an apartment', link: '/mock-address/change-me'}, {text: 'apartment for sale', link: '/mock-address/change-me'} ], textLogin: 'Cosmin Negoita' })
  .ui-kits-header-footer__footer-copyright
    +footer-copyright({ textLogo: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', itemList1: [ {title: 'Navigation'}, {text: 'About Us', link: '/mock-address/change-me'}, {text: 'News', link: '/mock-address/change-me'}, {text: 'Support', link: '/mock-address/change-me'}, {text: 'Products', link: '/mock-address/change-me'} ], itemList2: [ {title: 'ABOUT US'}, {text: 'Who we are', link: '/mock-address/change-me'}, {text: 'Our team', link: '/mock-address/change-me'}, {text: 'Careers', link: '/mock-address/change-me'}, {text: 'Investors', link: '/mock-address/change-me'} ], itemList3: [ {title: 'Support'}, {text: 'Documentation', link: '/mock-address/change-me'}, {text: 'Community', link: '/mock-address/change-me'}, {text: 'Get in Touch', link: '/mock-address/change-me'} ], titleSub: 'Subscribe to our newsletter', textSub: 'Receive our latest news and promotions in your inbox!', copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.', iconList: [ {link: '/mock-address/change-me', icon: 'fa-twitter'}, {link: '/mock-address/change-me', icon: 'fa-facebook-square'}, {link: '/mock-address/change-me', icon: 'fa-instagram'} ] })
  .ui-kits-header-footer__footer-creative
    +footer-creative({ text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', iconList: [ {link: '/mock-address/change-me', icon: 'fa-twitter'}, {link: '/mock-address/change-me', icon: 'fa-facebook-square'}, {link: '/mock-address/change-me', icon: 'fa-instagram'} ] })
