@import '~Layout/main-layout';

.ui-kits-header-footer {
  margin-top: 72px;

  &__img {
    display: block;
    padding-top: 25px;
    padding-left: 264px;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__footer {
    margin-bottom: 40px;
  }

  &__footer-creative {
    margin-bottom: 130px;
  }
}
