extends ~Layout/main-layout.pug

block variables
  - data = require("./ui-kits-header-footer.json");

  - const pageTitle = "Headers & Footers";
  - const classMain = "ui-kits-header-footer";
  - const classImg = "ui-kits-header-footer__img";
  - const mainLink = "index.html";
  - headerProps = false;
  - footerProps = false;

block content
  .ui-kits-header-footer__header
    +header(data.headerDefault)
  .ui-kits-header-footer__header
    +header(data.headerLogged)
  .ui-kits-header-footer__footer
    +footer(data.footerDefault)
  .ui-kits-header-footer__footer-creative
    +footer(data.footerCreative)
