.landing-sign-in {
  &__content {
    width: 100%;
    height: 100%;
    height: 684px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/image4.1.png) 100% 100% no-repeat;
    background-size: cover;

    .center-block {
      justify-content: center;
      align-items: center;
    }
  }
}
