extends ~Layout/main-layout.pug

block variables
  include ~Blocks/page/page.pug
  include ~Blocks/sign-in/sign-in.pug

  - data = require("./landing-sign-in.json");

  - const pageTitle = "Sign-in";
  - const classMain = "landing-sign-in";
  - const classWrapper = "landing-sign-in__content";

block content
  +page({})
    .landing-sign-in__sign-in
      +sign-in(data.signIn)
