include ../text-field/text-field.pug

mixin date-picker({ state, size, className, themeIcon, tabindex, myId, stateMenu, text, textState, isDropdown, type, name, isDateRange, placeholder, iconText })
  .date-picker
    +text-field({ state, size, className, themeIcon, tabindex, myId, stateMenu, text, textState, isDropdown, type, name, isDateRange, placeholder, iconText })
