mixin rate-button({ star })
  - const starBorder = 5 - star;

  ul.rate-button
    - for (let x = 0; x < star; x++)
      li.rate-button__item
        i.rate-button__icon star

    - for (let x = 0; x < starBorder; x++)
      li.rate-button__item
        i.rate-button__icon star_border
