mixin rate-button({ star })
  - const starBorder = 5 - star;

  .rate-button
    - for (let x = 0; x < star; x++)
      i.rate-button__icon star

    - for (let x = 0; x < starBorder; x++)
      i.rate-button__icon star_border
