@import '~Typography';

.rate-button {
  display: flex;

  &__icon {
    @include material-icons;
    background-image: $gradient-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
