mixin rate-button(object)
  - const starBorder = 5 - object.star;

  .rate-button
    - for (let x = 0; x < object.star; x++)
      i.rate-button__icon star

    - for (let x = 0; x < starBorder; x++)
      i.rate-button__icon star_border
