include ../like-button/like-button.pug

mixin review(object)
    .review
        .review__wrapper
            img(class="review__img" src=object.img)
            .review__wrapper-text
                p(class="review__username")=object.username
                p(class="review__date")=object.date

        .review__wrapper
            .review__like-button
                +like-button(object)
            p(class="review__text")=object.text