@import '~Typography';
@import '~Blocks/like-button/like-button';

.review {
  @media (max-width: $breakpoint-xs) {
    width: 300px;
  }

  &__like-button {
    align-self: baseline;
    margin-top: 8px;
    margin-left: 3px;
    min-width: 53px;

    @media (max-width: $breakpoint-xs) {
      align-self: center;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    @media (max-width: $breakpoint-xs) {
      flex-flow: column;
      text-align: center;
    }

    &:last-child {
      margin-top: 4px;
    }
  }

  &__img {
    max-width: 47px;
    max-height: 47px;
    margin-right: 9px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
    box-sizing: border-box;
  }

  &__username {
    @include typo-body;

    font-weight: 600;
  }

  &__text {
    @include typo-body;

    margin-top: 7px;
    margin-left: 2px;

    @media (max-width: $breakpoint-xs) {
      text-align: center;
    }
  }

  &__date {
    @include typo-body;
  }
}
