.review {
    max-width: 712px;

    @media (max-width: $breakpoint-xs) {
        width: 300px;
    }

    &__like-button {
        align-self: baseline;
        margin-top: 6px;

        @media (max-width: $breakpoint-xs) {
            align-self: center;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint-xs) {
            flex-flow: column;
            text-align: center;
        }

        &:last-child {
            margin-top: 4px;
        }
    }

    &__img {
        margin-right: 9px;
    }

    &__username {
        font-weight: 600;
    }

    &__text {
        margin-top: 7px;
        margin-left: 2px;

        @media (max-width: $breakpoint-xs) {
            text-align: center;
        }
    }
}