include ../like-button/like-button.pug

mixin review(object)
  .review
    .review__wrapper
      img.review__img(src=object.img)
      .review__wrapper-text
        p.review__username= object.username
        p.review__date= object.date

    .review__wrapper
      .review__like-button
        +like-button(object)
      p.review__text= object.text
