include ./include/doctype.pug

include ../blocks/page/page.pug
include ../blocks/centerblock/centerblock.pug
include ../blocks/search-room/search-room.pug
include ../blocks/header/header.pug
include ../blocks/date-picker/date-picker.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/range-slider/range-slider.pug
include ../blocks/checkbox-buttons/checkbox-buttons.pug
include ../blocks/bullet-list/bullet-list.pug
include ../blocks/checkbox-list/checkbox-list.pug
include ../blocks/hotel-card/hotel-card.pug
include ../blocks/pagination/pagination.pug
include ../blocks/footer-copyright/footer-copyright.pug

+doctype({title: "Search room"})
+search-room
    .search-room__header
        +header({
            itemList: [
                {text: "О нас", link: "/mock-address/change-me"},
                {text: "Услуги", link: "/mock-address/change-me", icon: "true", subItemList: "true"},
                {text: "Вакансии", link: "/mock-address/change-me"},
                {text: "Новости", link: "/mock-address/change-me"},
                {text: "Соглашения", link: "/mock-address/change-me", icon: "true", subItemList2: "true"}
            ],
            loginButton: {
                text: "войти",
                link: "page-landing-sign-in.html",
                theme: "border",
                size: "login"
            },
            registerButton: {
                text: "зарегистрироваться",
                link: "page-landing-registration.html",
                size: "register"
            },
            subItemList1: [
                {text: "бронирование", link: "/mock-address/change-me"},
                {text: "съем квартиры", link: "/mock-address/change-me"},
                {text: "продажа квартиры", link: "/mock-address/change-me"}
            ],
            subItemList2: [
                {text: "правила", link: "/mock-address/change-me"},
                {text: "договор", link: "/mock-address/change-me"}
            ]
        })

    .search-room__layout-body
        +page
            +centerblock
                .search-room__sidebar
                    .search-room__date-picker
                        +date-picker({
                            text: "даты пребывания в отеле",
                            placeholder: "19 авг - 23 авг",
                            type: "text",
                            size: "small",
                            tabindex: 1,
                            className: "datepicker datepicker-here"
                        })
                    .search-room__dropdown
                        +dropdown({
                            text: "гости",
                            value: "3 гостя",
                            iconText: "expand_more",
                            className: "dropdown-people",
                            size: "small",
                            tabindex: 2,
                            itemsPeople: true,
                            buttonMenu: true,
                            dropdown: true
                        })
                    .search-room__range-slider
                        +range-slider({
                            text: "диапазон цены"
                        })
                    p(class="search-room__text-range-slider") Стоимость за сутки пребывания в номере
                    .search-room__checkbox-buttons
                        +checkbox-buttons({
                            text: "Checkbox Buttons"
                        })
                    .search-room__rich
                        +checkbox-buttons({
                            text: "доступность",
                            rich: "true"
                        })
                    .search-room__dropdown-room
                        +dropdown({
                            text: "удобства номера",
                            value: "2 спальни, 2 кровати...",
                            iconText: "expand_more",
                            className: "dropdown",
                            size:"small",
                            tabindex: 3,
                            itemsRoom: true,
                            dropdown: true
                        })
                    .search-room__checkbox-list
                        +checkbox-list({
                            text: "дополнительные удобства"
                        })

                .search-room__content
                    h1(class="search-room__title") Номера, которые мы для вас подобрали
                    .search-room__wrapper-hotel-card
                        +hotel-card({
                            number: "888",
                            price: "9 990₽",
                            lux: "true",
                            star: "5",
                            reviews: "145",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-1.png"},
                                {img: "img/hotel-1.png"},
                                {img: "img/hotel-1.png"},
                                {img: "img/hotel-1.png"}
                            ]
                        })
                        +hotel-card({
                            number: "840",
                            price: "9 990₽",
                            star: "4",
                            reviews: "65",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-2.png"},
                                {img: "img/hotel-2.png"},
                                {img: "img/hotel-2.png"},
                                {img: "img/hotel-2.png"}
                            ]
                        })
                        +hotel-card({
                            number: "980",
                            price: "8 500₽",
                            lux: "true",
                            star: "3",
                            reviews: "35",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-3.png"},
                                {img: "img/hotel-3.png"},
                                {img: "img/hotel-3.png"},
                                {img: "img/hotel-3.png"}
                            ]
                        })
                    .search-room__wrapper-hotel-card
                        +hotel-card({
                            number: "856",
                            price: "7 300₽",
                            star: "5",
                            reviews: "19",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-4.png"},
                                {img: "img/hotel-4.png"},
                                {img: "img/hotel-4.png"},
                                {img: "img/hotel-4.png"}
                            ]
                        })
                        +hotel-card({
                            number: "740",
                            price: "6 000₽",
                            star: "4",
                            reviews: "44",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-5.png"},
                                {img: "img/hotel-5.png"},
                                {img: "img/hotel-5.png"},
                                {img: "img/hotel-5.png"}
                            ]
                        })
                        +hotel-card({
                            number: "982",
                            price: "5 800₽",
                            star: "3",
                            reviews: "56",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-6.png"},
                                {img: "img/hotel-6.png"},
                                {img: "img/hotel-6.png"},
                                {img: "img/hotel-6.png"}
                            ]
                        })
                    .search-room__wrapper-hotel-card
                        +hotel-card({
                            number: "678",
                            price: "5 500₽",
                            star: "5",
                            reviews: "45",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-7.png"},
                                {img: "img/hotel-7.png"},
                                {img: "img/hotel-7.png"},
                                {img: "img/hotel-7.png"}
                            ]
                        })
                        +hotel-card({
                            number: "450",
                            price: "5 300₽",
                            star: "4",
                            reviews: "39",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-8.png"},
                                {img: "img/hotel-8.png"},
                                {img: "img/hotel-8.png"},
                                {img: "img/hotel-8.png"}
                            ]
                        })
                        +hotel-card({
                            number: "350",
                            price: "5 000₽",
                            star: "3",
                            reviews: "77",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-9.png"},
                                {img: "img/hotel-9.png"},
                                {img: "img/hotel-9.png"},
                                {img: "img/hotel-9.png"}
                            ]
                        })
                    .search-room__wrapper-hotel-card
                        +hotel-card({
                            number: "666",
                            price: "5 000₽",
                            star: "5",
                            reviews: "25",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-10.png"},
                                {img: "img/hotel-10.png"},
                                {img: "img/hotel-10.png"},
                                {img: "img/hotel-10.png"}
                            ]
                        })
                        +hotel-card({
                            number: "444",
                            price: "5 000₽",
                            star: "3",
                            reviews: "15",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-11.png"},
                                {img: "img/hotel-11.png"},
                                {img: "img/hotel-11.png"},
                                {img: "img/hotel-11.png"}
                            ]
                        })
                        +hotel-card({
                            number: "352",
                            price: "5 000₽",
                            star: "3",
                            reviews: "55",
                            link: "/mock-address/change-me",
                            itemList: [
                                {img: "img/hotel-12.png"},
                                {img: "img/hotel-12.png"},
                                {img: "img/hotel-12.png"},
                                {img: "img/hotel-12.png"}
                            ]
                        })
                    .search-room__pagination
                        +pagination({
                            itemList: [
                                {text: "1", link: "/mock-address/change-me", currentPage: true},
                                {text: "2", link: "/mock-address/change-me"},
                                {text: "3", link: "/mock-address/change-me"},
                                {text: "..."},
                                {text: "15", link: "/mock-address/change-me"}
                            ],
                            nextPage: "/mock-address/change-me", 
                            text: "1 – 12 из 100+ вариантов аренды"
                        })

    .search-room__footer-copyright
        +footer-copyright({
            textLogo: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
            placeholder: "Email",
            itemList1: [
                {title: "навигация"},
                {text: "О нас", link: "/mock-address/change-me"},
                {text: "Новости", link: "/mock-address/change-me"},
                {text: "Служба поддержки", link: "/mock-address/change-me"},
                {text: "Услуги", link: "/mock-address/change-me"}
            ],
            itemList2: [
                {title: "о нас"},
                {text: "О сервисе", link: "/mock-address/change-me"},
                {text: "Наша команда", link: "/mock-address/change-me"},
                {text: "Вакансии", link: "/mock-address/change-me"},
                {text: "Инвесторы", link: "/mock-address/change-me"}
            ],
            itemList3: [
                {title: "Служба поддержки"},
                {text: "Соглашения", link: "/mock-address/change-me"},
                {text: "Сообщества", link: "/mock-address/change-me"},
                {text: "Связь с нами", link: "/mock-address/change-me"}
            ],
            titleSub: "Подписка",
            textSub: "Получайте специальные предложения и новости сервиса",
            copyright: "Copyright © 2018 Toxin отель. Все права зачищены",
            iconList: [
                {link: "/mock-address/change-me", icon: "fa-twitter"},
                {link: "/mock-address/change-me", icon: "fa-facebook-square"},
                {link: "/mock-address/change-me", icon: "fa-instagram"}
            ]
        })