include ./include/doctype.pug

include ../blocks/ui-kits-color/ui-kits-color.pug
include ../blocks/page/page.pug
include ../blocks/centerblock/centerblock.pug
include ../blocks/block-color/block-color.pug
include ../blocks/block-type/block-type.pug

+doctype({title: "Colors & Type"})
img.ui-kits-color__img(src="img/Group.png")
+ui-kits-color
    +page
        +centerblock
            .ui-kits-color__col-8
                +block-color({
                    itemList: [
                        {title: "Dark Shade 100%", text: "#1F2041"},
                        {title: "Dark Shade 75%", text: "#1F2041", theme: "dark-shade-75"},
                        {title: "Dark Shade 50%", text: "#1F2041", theme: "dark-shade-50"},
                        {title: "Dark Shade 25%", text: "#1F2041", theme: "dark-shade-25"},
                        {title: "Dark Shade 5%", text: "#1F2041", theme: "dark-shade-5"},
                        {title: "Purple", text: "#BC9CFF", theme: "color-primary"},
                        {title: "Green", text: "#6FCF97", theme: "color-secondary"}
                    ]
                })
            .ui-kits-color__col-8
                +block-type({
                    itemList: [
                        {typo: "typo-h1", title: "h1", className: "h1", text: "This one is the sub-section or widget title"},
                        {typo: "typo-h2", title: "h2", className: "h2",  text: "Next one is the item title inside widgets"},
                        {typo: "typo-h3", title: "h3", className: "h3",  text: "THIS IS A LABEL OR CTA TEXT"},
                        {typo: "typo-body", title: "Body", className: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
                    ]
                })
