extends ~Layout/main-layout.pug

block variables
  - data = require("./index.json");

  - const pageTitle = "Main";
  - const classMain = "main";
  - const isPageCenter = true;
  - headerProps = false;
  - footerProps = false;

block content
  ul.main__list
    each item in data.linkList
      li.main__item
        a.main__link(href=item.link)= item.link
