extends ~Layout/main-layout.pug

block variables
  include ~Blocks/block-color/block-color.pug
  include ~Blocks/block-type/block-type.pug

  - data = require("./ui-kits-color.json");

  - const pageTitle = "Color & Type";
  - const classMain = "ui-kits-color";
  - const isPageCenter = true;
  - const classImg = "ui-kits-color__img";
  - const mainLink = "index.html";
  - headerProps = false;
  - footerProps = false;

block content
  ul.ui-kits-color__column
    +block-color(data.blockColor)
  ul.ui-kits-color__column
    +block-type(data.blockType)
