@import '~Vars';
@import '~Layout/main-layout';
@import '~Blocks/block-color/block-color';
@import '~Blocks/block-type/block-type';

.ui-kits-color {
  margin-top: 52px;

  &__img {
    display: block;
    padding-top: 25px;
    padding-left: 263px;
  }

  &__column {
    max-width: 403px;
    display: flex;
    flex-flow: column;

    @media (max-width: $breakpoint-md) {
      max-width: 300px;
    }

    &:last-child {
      margin-right: 57px;

      @media (max-width: $breakpoint-md) {
        margin-right: 0;
      }
    }
  }
}
