extends ~Layout/main-layout.pug

block variables
  include ~Blocks/block-color/block-color.pug
  include ~Blocks/block-type/block-type.pug

  - const pageTitle = "Color & Type";
  - const classMain = "ui-kits-color";
  - const isPageCenter = true;
  - const classImg = "ui-kits-color__img";
  - const mainLink = "index.html";

block content
  ul.ui-kits-color__col-8
    +block-color({ itemList: [ {title: 'Dark Shade 100%', text: '#1F2041'}, {title: 'Dark Shade 75%', text: '#1F2041', theme: 'dark-shade-75'}, {title: 'Dark Shade 50%', text: '#1F2041', theme: 'dark-shade-50'}, {title: 'Dark Shade 25%', text: '#1F2041', theme: 'dark-shade-25'}, {title: 'Dark Shade 5%', text: '#1F2041', theme: 'dark-shade-5'}, {title: 'Purple', text: '#BC9CFF', theme: 'color-primary'}, {title: 'Green', text: '#6FCF97', theme: 'color-secondary'} ] })
  ul.ui-kits-color__col-8
    +block-type({ itemList: [ {title: 'h1', theme: 'h1', text: 'This one is the sub-section or widget title'}, {title: 'h2', theme: 'h2', text: 'Next one is the item title inside widgets'}, {title: 'h3', theme: 'h3', text: 'THIS IS A LABEL OR CTA TEXT'}, {title: 'Body', theme: 'body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'} ] })
