.col-4 {
    max-width: 320px;
    display: flex;
    flex: 0 1 320px;
    flex-direction: column;
    margin-left: 15px;
    
    &:nth-child(1) {
        margin: 0;
    }

    @media (max-width: $breakpoint-md) {
        margin: 0;
    }
}