include ../text-field/text-field.pug
include ./dropdown-item/dropdown-item.pug

mixin dropdown({ stateMenu, size, isButtonMenu, value, text, isItemsRoom, tabindex, state, className, id, myId, type, name, iconText, themeIcon, textState, isDropdown, itemsList })
  - const menuStateClass = stateMenu ? " dropdown__menu--" + stateMenu : "";
  - const dropdownSizeClass = size ? " dropdown--" + size : "";
  - const menuSizeClass = size ? " dropdown__menu--" + size : "";

  div(class="js-dropdown dropdown" + dropdownSizeClass)
    +text-field({ state, className, size, id, myId, type, value, name, tabindex, iconText, themeIcon, textState, isDropdown, text })
    ul(class="js-dropdown__menu dropdown__menu" + menuStateClass + menuSizeClass)
      +dropdown-item({ isItemsRoom, itemsList })
      if (isButtonMenu)
        .dropdown__wrapper-button-menu
          button.dropdown__button-menu.dropdown__button-menu--cleans.js-dropdown__button-menu--cleans очистить
          button.dropdown__button-menu.dropdown__button-menu--complete.js-dropdown__button-menu--complete применить
