.dropdown {
    
    .text-field__input {
        color: $dark-shade-75;
        cursor: pointer;
    }

    &__menu {
        display: none;
        padding: 5px 7px 10px 13px;
        border-left: 1px solid $dark-shade-25;
        border-right: 1px solid $dark-shade-25;
        border-bottom: 1px solid $dark-shade-25;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

        &--active {
            display: block;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 7px 0;
    }

    &__input {
        width: 20px;
        padding-left: 12px;
        border: none;
    }

    &__button {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 22px;
    }

    &__wrapper-button-menu {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    &__button-menu {
        padding: 0;
        color: $color-primary;
        border: none;
        background: #fff;

        &--cleans {
            opacity: 0;
            color: $dark-shade-50;
        }
    }

    &--small {
        width: 266px;
    }
}