include ../text-field/text-field.pug
include ./dropdown-item/dropdown-item.pug

mixin dropdown({ stateMenu, size, isButtonMenu, value, text, isItemsRoom, state, id, type, name, iconText, themeIcon, textState, isDropdown, itemsList, isHideButtonCleans })
  - const menuStateClass = stateMenu ? " dropdown__menu--" + stateMenu : "";
  - const dropdownSizeClass = size ? " dropdown--" + size : "";
  - const menuSizeClass = size ? " dropdown__menu--" + size : "";
  - const buttonCleansHideClass = isHideButtonCleans ? "dropdown__button-menu--hide" : "";

  div(class="js-dropdown dropdown" + dropdownSizeClass)
    +text-field({ state, size, id, type, value, name, iconText, themeIcon, textState, isDropdown, text })
    .dropdown__menu(class="js-dropdown__menu dropdown__menu" + menuStateClass + menuSizeClass)
      ul.dropdown__list
        +dropdown-item({ isItemsRoom, itemsList })
      if (isButtonMenu)
        .dropdown__wrapper-button-menu
          button.dropdown__button-menu.dropdown__button-menu--cleans.js-dropdown__button-menu--cleans(
            class=buttonCleansHideClass
          ) очистить
          button.dropdown__button-menu.dropdown__button-menu--complete.js-dropdown__button-menu--complete применить
