@import '../../scss/global-typography';

.price-list {
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.5px;
  }

  &__wrapper-text {
    position: relative;
    display: flex;
  }

  &__text {
    @include typo-body;
    max-width: 214px;
    line-height: 18px;

    &:last-child {
      text-align: right;
    }

    &--big {
      @include typo-h2;
    }
  }

  &__icon {
    position: absolute;
    right: -25px;
    padding: 9px 7.4px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    color: $dark-shade-25;
    font-size: 11px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 0;
  }

  &__full-price {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;

    .price-list__text {
      width: 22%;
    }

    &:before {
      position: absolute;
      content: '';
      width: 55%;
      height: 1px;
      bottom: 6px;
      left: 70px;
      border-bottom: 1px dotted $dark-shade-25;
    }
  }
}
