@import '../../scss/global-typography';

.price-list {

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15.5px;
    }

    &__wrapper-text {
        position: relative;
        display: flex;
    }

    &__text {
        @include typo-body;
        width: 214px;
        line-height: 18px;

        &:last-child {
            text-align: right;
        }

        &--big {
            @include typo-h2;
        }
    }

    &__icon {
        position: absolute;
        right: -25px;
        padding: 9px 7.4px;
        border: 1px solid $dark-shade-25;
        border-radius: 50%;
        color: $dark-shade-25;
        font-size: 11px;
        font-family: Montserrat;
        font-weight: bold;
        line-height: 0;
    }

    &__full-price {
        display: flex;
        justify-content: space-between;
        margin-top: 33px;

        .price-list__text {
            width: 22%;
        }
    }

    &__line {
        margin-top: 15px;
        width: 55%;
        border-top: 1px dotted $dark-shade-25;
    }
}