@import '../../scss/global-typography';

.checkbox-list {
    width: 266px;
    cursor: pointer;

    &__wrapper-header {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    &__wrapper-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    &__items {
        display: none;

        &--open {
            display: block;
        }
    }

    &__checkbox {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        margin-left: 0;
        margin-right: 9px;
        background-color: #fff;
        border: 1px solid $dark-shade-25;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;

        &:checked {
            position: relative;
            color: $color-primary;
            border: 1px solid $color-primary;
        }

        &:checked:after {
            position: absolute;
            top: 3px;
            left: 4px;
            width: 10px;
            height: 10px;
            content: '';
            background: url("../img/Vector.png") no-repeat;
        }
    }

    &__title {
        @include typo-h3;
    }

    &__label {
        @include typo-body;
        color: $dark-shade-50;
        text-transform: none;
        cursor: pointer;
    }

    &__icon {
        @include material-icons;
        cursor: pointer;

        &--open {
            transform: rotate(-180deg);
        }
    }
}