include ~Blocks/checkbox/checkbox.pug

mixin checkbox-list({ isOpen = false, text, list })
  -
    let mainClasses = '';

    if(isOpen) mainClasses += ' checkbox-list_open';

  .checkbox-list.js-checkbox-list(class=mainClasses)
    .checkbox-list__header-wrapper.js-checkbox-list__header-wrapper
      h3.checkbox-list__title= text
      button.checkbox-list__icon.js-checkbox-list__icon= "expand_more"

    ul.checkbox-list__items.js-checkbox-list__items
      each item in list
        - let { id, text, name, isChecked = false, isRich = false } = item;
          li.checkbox-list__item
            +checkbox({text, id, title, name, isChecked, isRich})
