@import '~Typography';
@import '~Blocks/checkbox/checkbox';

.checkbox-list {
  &__header-wrapper {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    justify-content: space-between;
  }

  &__items {
    display: none;

    &_open {
      display: block;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    @include typo-h3;
  }

  &__icon {
    @include material-icons;

    cursor: pointer;
    margin-right: 6px;

    &_open {
      transform: rotate(-180deg);
    }
  }
}
