include ~Blocks/checkbox/checkbox.pug

mixin checkbox-list({ isOpen, text, list })
  -
    let iconClasses = '';
    let itemsClasses = '';

    if(isOpen) itemsClasses += ' checkbox-list__items_open';
    if(isOpen) iconClasses += ' checkbox-list__icon_open';

  .checkbox-list.js-checkbox-list
    .checkbox-list__header-wrapper.js-checkbox-list__header-wrapper
      h3.checkbox-list__title= text
      button.checkbox-list__icon.js-checkbox-list__icon(class=iconClasses)= "expand_more"

    ul.checkbox-list__items.js-checkbox-list__items(class=itemsClasses)
      each item in list
        - let { id, text, name, isChecked = false, isRich } = item;
          li.checkbox-list__item
            +checkbox({text, id, title, name, isChecked, isRich})
