@import '~Typography';

.ui-kits-form {
  margin-top: 50px;

  &__col-4 {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: 50px;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
    }
  }

  &__title {
    @include typo-h3;
    margin-bottom: 15px;

    &--like-button,
    &--radio-button {
      margin-bottom: 12px;
    }
  }

  &__img {
    display: block;
    padding-top: 25px;
    padding-left: 263px;
  }

  &__text-field {
    position: relative;
    top: -5px;
  }

  &__text-field-hover {
    margin-top: 11px;
  }

  &__dropdown {
    margin-top: 15px;
  }

  &__masked {
    margin-top: 17px;
  }

  &__date-picker {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }

  &__filter-date {
    margin-top: 36px;
  }

  &__subscription {
    margin-top: 36px;
  }

  &__dropdown-room {
    margin-top: 95px;
  }

  &__dropdown-room-expanded {
    margin-top: 15px;
  }

  &__checkbox-list {
    margin-top: 168px;
  }

  &__checkbox-list-open {
    margin-top: 30px;
  }

  &__icon-text-list {
    margin-top: 13px;
  }

  &__radio-buttons {
    margin-top: 39px;
  }

  &__toggle {
    margin-top: 40px;
  }

  &__toggle-item {
    &:nth-child(2) {
      margin-bottom: 13px;
    }
  }

  &__like-button {
    margin-top: 44px;

    .like-button__checkbox {
      margin-left: 0;
    }
  }

  &__like-button-items {
    display: flex;
  }

  &__like-button-item {
    &:nth-child(1) {
      margin-right: 2px;
    }
  }

  &__rate-button {
    margin-top: 39px;
  }

  &__rate-button-items {
    display: flex;
  }

  &__rate-button-item {
    &:nth-child(1) {
      margin-right: 20px;
    }
  }

  &__dropdown-people {
    margin-top: 193px;
  }

  &__rich-checkbox-buttons {
    max-width: 240px;
    margin-top: 257px;
  }

  &__buttons {
    margin-top: 45px;
  }

  &__buttons-items {
    display: flex;
    margin-bottom: 30.4px;
  }

  &__buttons-item {
    &:nth-child(1) {
      margin-right: 20px;
    }
  }

  &__pagination {
    margin-top: 41px;
    margin-left: 1px;
  }

  &__dropdown-people-expanded {
    margin-top: 228px;
  }

  &__bullet-list {
    margin-top: 255px;
    max-width: 255px;

    @media (max-width: $breakpoint-xs) {
      width: 100%;
    }

    @media (max-width: $breakpoint-xxs) {
      max-width: 305px;
    }
  }

  &__col-8 {
    position: relative;
    top: -17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-xs) {
      flex-flow: column;
    }
  }

  &__review {
    max-width: 712px;
    margin-top: 10px;
    margin-right: 3px;
  }
}
