.footer-creative {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 100px 0 110px 0;

    .fa {
        font-size: 24px;
        color: $color-primary;
    }

    &__logo {
        height: 40px;
        margin-bottom: 15px;
    }

    &__text {
        max-width: 560px;
        padding-top: 2px;
        text-align: center;
    }

    &__social {
        margin-top: 27px;
    }

    &__link-icon {
        margin-left: 20px;

        &:first-child {
            margin: 0;
        }
    }
}