mixin footer-creative(object)
  .footer-creative
    img.footer-creative__logo(src='img/Logo.png', alt='logo')
    p.footer-creative__text= object.text
    .footer-creative__social
      each icon in object.iconList
        a.footer-creative__link-icon(href=icon.link)
          i(class="fa footer-creative__icon " + icon.icon)
