mixin footer-creative({ text, iconList, link, icon })
  .footer-creative
    img.footer-creative__logo(src='img/Logo.png', alt='logo')
    p.footer-creative__text= text
    .footer-creative__social
      each icon in iconList
        a.footer-creative__link-icon(href=link)
          i(class="fa footer-creative__icon " + icon)
