mixin footer-creative({ text, iconList })
  .footer-creative
    img.footer-creative__logo(src='img/logo.svg', alt='logo')
    p.footer-creative__text= text
    ul.footer-creative__social
      each item in iconList
        - const { link, icon } = item;
        li.footer-creative__item
          a.footer-creative__link-icon(href=link, target='_blank', rel='noopener noreferrer')
            i(class="fa " + icon)
