@import 'ion-rangeslider/css/ion.rangeSlider';
@import '../../scss/global-typography';


.range-slider {
    width: 266px;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include typo-h3;
    }

    &__input {
        @include typo-h1;
    }

    .irs {
        display: block;
        cursor: pointer;
      
    }

    .irs--flat {
        top: -3px;
        height: 29px;
        
        .irs-line {
            height: 6.5px;
            box-sizing: border-box;
            background-color: white;
            border: 1px solid $dark-shade-25;
            border-radius: 10px;
        }
        
        .irs-bar {
            height: 6.5px;
            background: $gradient-secondary;
            border-radius: 10px;
        }

        .irs-handle {
            top: 21px;
            width: 16px;
            height: 16px;
            background: $gradient-secondary;
            border: 2px solid white;
            border-radius: 10px;
            cursor: pointer;

            &>i:first-child {
                display: none;
            }
        }

        .irs-single {
            display: block;
            top: -13px;
            right: 0;
            left: auto !important;
            visibility: visible !important;
            font-size: $font-size--h3;
            color: $dark-shade-50;
            background-color: inherit;
            pointer-events: none;
        }

        .irs-from:before,
        .irs-to:before,
        .irs-single:before {
            display: none;
        }
    }

    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to {
        display: none;
    }
}
