.range-slider {
    width: 266px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
    }

    &__price {
        width: 38%;
        font-size: 12px;
        border: none;
        color: $dark-shade-50;
    }

    .ui-slider {
        height: 4px;
        border: 1px solid $dark-shade-25;
        border-radius: 3px;
    }

    .ui-slider-handle {
        top: -5px;
        width: 12px;
        height: 12px;
        background: $gradient-secondary;
        border: 2px solid #fff;
        border-radius: 10px;
        cursor: pointer;
    }

    .ui-widget-header {
        background: $gradient-secondary;
    }
}