mixin range-slider(object)

    .range-slider
        .range-slider__header
            h3(class="typo-h3 range-slider__title")=object.text
            input(class="range-slider__price" id="amount" readonly type="text")

        div(id="slider-range")