include ../date-picker/date-picker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin hotel-search({ title, link, itemsList})
  form.hotel-search(action=link)
    h1.hotel-search__title= title

    .hotel-search__date-picker
      +date-picker({ text: 'прибытие', placeholder: 'ДД.ММ.ГГГГ', state: 'date', type: 'text', name: 'arrival', id: 'start', iconText: 'expand_more', isDateRange: true, isDateStart: true })
      +date-picker({ text: 'выезд', placeholder: 'ДД.ММ.ГГГГ', state: 'date', type: 'text', name: 'departure', id: 'end', iconText: 'expand_more', isDateRange: true })

    .hotel-search__dropdown
      +dropdown({ text: 'гости', name: 'people', value: 'Сколько гостей', id: 'dropdown-people', iconText: 'expand_more', isItemsPeople: true, isButtonMenu: true, isDropdown: true, isHideButtonCleans: true, itemsList })

    .hotel-search__button
      +button({ text: 'подобрать номер', isButtonLarge: true, isButton: true, type: 'submit'})
