@import '~Typography';

.pie-chart {
  display: flex;

  &__canvas-wrapper {
    position: relative;
    width: 124px;
    height: 124px;
  }

  &__text-diagram-wrapper {
    position: absolute;
    top: 33.5%;
    left: 26%;
    z-index: -1;
  }

  &__text-diagram {
    @include typo-body;

    color: $color-primary;
    text-align: center;
    line-height: 21px;

    &_size {
      &_big {
        @include typo-h1;

        color: $color-primary;
        text-align: center;
        line-height: 21px;
      }
    }
  }

  &__list {
    padding-top: 29px;
    padding-left: 28px;

    @media (max-width: $breakpoint-xxs) {
      padding-left: 10px;
    }
  }

  &__item {
    @include typo-body;

    display: flex;
    align-items: center;
    text-transform: none;

    &:last-child {
      margin: 0;
    }
  }

  &__circle {
    align-self: baseline;
    min-width: 10px;
    height: 10px;
    margin-top: 6px;
    margin-right: 5px;
    background-color: $dark-shade-25;
    border-radius: 10px;
  }
}
