mixin pie-chart({ img, votes, pieChartList })
  .pie-chart
    .pie-chart__wrapper-img
      img.pie-chart__img-diagram(src=img)
      .pie-chart__wrapper-text-diagram
        p.pie-chart__text-diagram.pie-chart__text-diagram_big= votes
        p.pie-chart__text-diagram голосов

    ul.pie-chart__list
      each item in pieChartList
        -
          let { theme, text } = item;
          let itemClass = '';
          const themeSetting = ["great", "good", "norm", "disappoint"];

          if (themeSetting.includes(theme)) itemClass += " pie-chart__item_" + theme;

        li(class="pie-chart__item" + itemClass)= text
