@import '~Typography';

.pie-chart {
  display: flex;

  &__wrapper-canvas {
    position: relative;
    width: 124px;
    height: 124px;
  }

  &__wrapper-text-diagram {
    position: absolute;
    top: 33.5%;
    left: 26%;
    z-index: -1;
  }

  &__text-diagram {
    @include typo-body;
    color: $color-primary;
    text-align: center;
    line-height: 21px;

    &_big {
      @include typo-h1;
      color: $color-primary;
      text-align: center;
      line-height: 21px;
    }
  }

  &__list {
    padding-top: 28px;
    padding-left: 28px;

    @media (max-width: $breakpoint-xxs) {
      padding-left: 10px;
    }
  }

  &__item {
    @include typo-body;
    display: flex;
    align-items: center;
    text-transform: none;

    &:before {
      content: '';
      align-self: baseline;
      min-width: 10px;
      height: 10px;
      margin-top: 6px;
      margin-right: 5px;
      background-color: $dark-shade-25;
      border-radius: 10px;
    }

    &:last-child {
      margin: 0;
    }

    &_great {
      &:before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }
    }

    &_good {
      &:before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
    }

    &_norm {
      &:before {
        background: $gradient-primary;
      }
    }

    &_disappoint {
      &:before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }
}
