mixin toggle({ id, text, isChecked })
  - id = id ? "toggle-" + id : "";

  .toggle
    if (isChecked)
      input.toggle__input(id=id, type='checkbox', checked)
    else
      input.toggle__input(id=id, type='checkbox')

    label.toggle__label(for=id)
    p.toggle__text= text
