mixin toggle({ id, text, checked })
    - id = (id ? "toggle-" + id : "");
    
    .toggle
        if(checked)
            input(class="toggle__input" id=id type="checkbox" checked)
        else
            input(class="toggle__input" id=id type="checkbox")

        label(class="toggle__label" for=id)
        p(class="toggle__text")=text