mixin toggle(object)
    - var id = (object.id ? "toggle-" + object.id : "");
    
    .toggle
        if(object.checked)
            input(class="toggle__input" id=id type="checkbox" checked)
        else
            input(class="toggle__input" id=id type="checkbox")

        label(class="toggle__label" for=id)
        p(class="typo-body toggle__text")=object.text