.landing-registration {

    &__content {
        width: 100%;
        height: 100%;
        height: 687px;
        padding-top: 15px;
        background: url(../img/image4.1.png) 100% 100% no-repeat;
        background-size: cover;


        .centerblock {
            justify-content: center;
        }
    }
}