@import '~Typography';
@import '~Blocks/rate-button/rate-button';

.hotel-card {
  max-width: 270px;
  max-height: 259.3px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px $dark-shade-5;

  &__img {
    border-radius: 4px 4px 0 0;
    height: 151.33px;
  }

  &__description {
    padding: 29px 18px 16px 20px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
  }

  &__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__items-price {
    display: flex;
  }

  &__reviews-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
  }

  &__reviews {
    display: flex;
  }

  &__icon {
    @include material-icons;

    color: #fff;
    cursor: pointer;
  }

  &__room-number {
    @include typo-h3;

    font-weight: bold;
    color: $dark-shade-100;

    &_theme {
      &_primary-color {
        color: $color-primary;
        margin-left: 8px;
      }
    }

    &_size {
      &_big {
        padding-left: 3px;
        font-size: 20px;
      }

      &_small {
        @include typo-body;

        font-weight: bold;
        color: $dark-shade-100;
      }
    }
  }

  &__text {
    @include typo-body;

    font-size: 12px;
    color: $dark-shade-50;

    &_size {
      &_bold {
        font-size: 14px;
        font-weight: bold;
        padding-right: 5px;
      }

      &_big {
        font-size: 14px;
      }
    }
  }

  .owl-carousel {
    &:hover {
      .owl-nav {
        display: block;
      }
    }

    .owl-dot span {
      width: 5px;
      height: 5px;
      margin: 5px 2px;
      border: 1px solid #fff;
      display: block;
      border-radius: 30px;
      transition: opacity 0.2s ease;
    }

    .active span {
      width: 5px;
      height: 5px;
      background: #fff;
    }
  }

  .owl-nav {
    display: none;

    i {
      font-size: 24px;
      color: #fff;
    }

    .owl-prev {
      left: -54px;
      transform: rotate(90deg);
    }

    .owl-next {
      right: -54px;
      transform: rotate(-90deg);
    }
  }

  .owl-nav > button {
    position: absolute;
    width: 151.33px;
    height: 43px;
    top: 37.7%;
    border-radius: 4px;
    font-size: 24px;
    color: #cdcbcd;
    outline: none;
    background-image: linear-gradient(
      0,
      rgba(0, 0, 0, 0.5),
      transparent 99.99%,
      hsla(0, 0%, 100%, 0)
    ) !important;
  }

  .owl-dots {
    position: relative;
    margin-top: -27px;
    margin-left: 212px;
  }
}
