.checkbox-buttons {
    width: 250px;

    &__wrapper-header {
        display: flex;
        margin-bottom: 12px;
        align-items: center;
        color: $dark-shade-50;
    }

    &__wrapper-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 6.3px;
    }

    &__checkbox {
        -webkit-appearance: none;
        align-self: baseline;
        min-width: 20px;
        height: 20px;
        margin-left: 0;
        margin-right: 9px;
        background-color: #fff;
        border: 1px solid $dark-shade-25;
        box-sizing: border-box;
        border-radius: 4px;

        &:checked {line-height: 14px;
            position: relative;
            color: $color-primary;
            border: 1px solid $color-primary;
        }

        &:checked:after {
            position: absolute;
            top: 3px;
            left: 4px;
            width: 10px;
            height: 10px;
            content: '';
            background: url("../img/Vector.png") no-repeat;
        }
    }

    &__label {
        color: $dark-shade-50;
        line-height: 18px;
        text-transform: none;

        &--small {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__text {
        font-weight: bold;
        text-transform: none;
    }
}