@import '~Typography';
@import '~Blocks/checkbox/checkbox';

.checkbox-buttons {
  &__header-wrapper {
    display: flex;
    margin-bottom: 13px;
    align-items: center;
    color: $dark-shade-50;
  }

  &__title {
    @include typo-h3;
  }

  &__item {
    margin-bottom: 5px;

    &_rich {
      margin-bottom: 9px;
    }
  }
}
