include ~Blocks/checkbox/checkbox.pug

mixin checkbox-buttons({ caption, isRich, list })
  .checkbox-buttons
    .checkbox-buttons__wrapper-header
      h3.checkbox-buttons__title= caption

    ul.checkbox-buttons__items
      each item in list
        - let itemClass = "";
        - let { text, id, title, name, isChecked = false } = item;
        - id = id ? "checkbox-buttons-" + id : "";
        - if (isRich) itemClass += "checkbox-buttons__item_rich";

        li.checkbox-buttons__item(class=itemClass)
          +checkbox({text, id, title, name, isChecked, isRich})
