extends ~Layout/main-layout.pug

block variables
  include ~Blocks/page/page.pug
  include ~Blocks/registration/registration.pug

  - data = require("./landing-registration.json");

  - const pageTitle = "Registration";
  - const classMain = "landing-registration";
  - const classWrapper = "landing-registration__content";

block content
  +page({})
    .landing-registration__registration
      +registration(data.registration)
