.landing-registration {
  &__content {
    width: 100%;
    height: 687px;
    padding-top: 15px;
    background: url('img/landing-registration-1.png') 100% 100% no-repeat;
    background-size: cover;

    &__registration {
      max-width: 1160px;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
    }
  }
}
