include ../price-list/price-list.pug
include ../date-picker/date-picker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin reservation(object)
    .reservation
        .reservation__wrapper-head
            .reservation__items-number
                p(class="reservation__number reservation__number--small") № 
                    span(class="reservation__number reservation__number--big")=object.number
                    span(class="reservation__number reservation__number--primary-color")  люкс
            .reservation__items-price
                span(class="reservation__price")=object.price
                p(class="reservation__days") в сутки
        .reservation__date-picker
            +date-picker({
                text: "прибытие",
                placeholder: "19.08.2019",
                state: "date",
                type: "text",
                className: "datepicker-start",
                myId: "start", 
                tabindex: 1,
                iconText: "expand_more",
                dateRange: true
            })
            +date-picker({
                text: "выезд",
                placeholder: "23.08.2019",
                state: "date",
                type: "text",
                className: "datepicker-end",
                myId: "end",
                iconText: "expand_more",
                tabindex: 2
            })
        .reservation__dropdown
            +dropdown({
                text: "гости",
                value: "3 гостя",
                iconText: "expand_more",
                className: "dropdown-people",
                tabindex: 3,
                itemsPeople: true,
                buttonMenu: true,
                dropdown: true 
            })
        .reservation__price-list
            +price-list({
                itemList: [
                    {description: "9 990₽ х 4 суток", price: "39 960"},
                    {description: "Сбор за услуги: скидка 2 179₽", price: "0", icon: "true"},
                    {description: "Сбор за дополнительные услуги", price: "300", icon: "true"}
                ],
                description: "Итого",
                price: "38 081"
            })
        .reservation__button
            +button({
                text: "забронировать",
                link: object.link,
                buttonLarge: "true",
                isButton: true
            })