@import '../../scss/global-typography';

.reservation {
  width: 320px;
  padding: 44px 29px 29px 29px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (max-width: $breakpoint-xxs) {
    padding: 44px 39px 29px 9px;
    width: 300px;

    .dropdown .text-field__icon {
      padding-right: 0;
    }
  }

  &__wrapper-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__items-price {
    display: flex;
  }

  &__number {
    @include typo-h3;
    font-weight: bold;
    color: $dark-shade-100;

    &:last-child {
      padding-left: 3px;
    }

    &--big {
      font-size: 20px;
    }

    &--small {
      @include typo-body;
      font-weight: bold;
      color: $dark-shade-100;
    }

    &--primary-color {
      color: $color-primary;
    }
  }

  &__price {
    @include typo-body;
    font-weight: bold;
    padding-right: 5px;
  }

  &__days {
    @include typo-body;
    font-size: 12px;
  }

  &__date-picker {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__dropdown {
    margin-bottom: 21px;
  }

  &__price-list {
    margin-bottom: 19px;
  }
}
