@import '~Typography';
@import '~Blocks/price-list/price-list';
@import '~Blocks/date-picker/date-picker';
@import '~Blocks/dropdown/dropdown';
@import '~Blocks/button/button';

.reservation {
  width: 320px;
  padding: 46px 29px 29px 29px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (max-width: $breakpoint-xs) {
    padding: 40px 20px 29px 20px;
    width: 290px;
  }

  @media (max-width: $breakpoint-xxs) {
    padding: 44px 9px 29px 9px;
    width: 290px;
  }

  &__wrapper-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__items-price {
    display: flex;
  }

  &__number {
    @include typo-h3;

    font-weight: bold;
    color: $dark-shade-100;

    &:last-child {
      padding-left: 3px;
    }

    &_size {
      &_big {
        font-size: 24px;
        margin-right: 6px;
      }

      &_small {
        @include typo-body;

        font-weight: bold;
        color: $dark-shade-100;
      }
    }

    &_theme {
      &_primary-color {
        color: $color-primary;
      }
    }
  }

  &__price {
    @include typo-body;

    font-weight: bold;
    padding-right: 5px;
  }

  &__days {
    @include typo-body;

    font-size: 12px;
  }

  &__date-picker {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (max-width: $breakpoint-md) {
      flex-flow: column;
    }
  }

  &__dropdown {
    margin-bottom: 20.5px;
  }

  &__price-list {
    margin-bottom: 19px;
  }
}
