include ../dropdown/dropdown.pug
include ../date-picker/date-picker.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug

- const radioButtonsList = [{text: 'Мужчина', value: 'male', name: 'gender', isChecked: true}, {text: 'Женщина', name: 'gender', value: 'female'}];

mixin registration({ title, link })
  form.registration(action=link)
    h1.registration__title= title

    .registration__text-field
      +text-field({ placeholder: 'Имя', tabindex: 1, name: 'first name', type: 'text' })
    .registration__text-field
      +text-field({ placeholder: 'Фамилия', tabindex: 2, name: 'last name', type: 'text' })
    .registration__radio-buttons
      +radio-buttons({ radioButtonsList })
    .registration__date-picker
      +date-picker({ text: 'дата рождения', placeholder: 'ДД.ММ.ГГГГ', type: 'text', name: 'date', className: 'datepicker datepicker-here' })
    .registration__text-field
      +text-field({ text: 'данные для входа в сервис', placeholder: 'Email', tabindex: 3, name: 'email', type: 'text' })
    .registration__text-field
      +text-field({ placeholder: 'Пароль', tabindex: 4, name: 'password', type: 'text' })
    .registration__toggle
      +toggle({ title: 'Toggle', text: 'Получать спецпредложения', id: '1' })
    .registration__button
      +button({ text: 'зарегистрироваться', isButtonLarge: true, isButton: true, type: 'submit' })
    .registration__sign-in
      p.registration__text-sign-in Уже есть аккаунт на Toxin
      +button({ text: 'войти', link: 'page-landing-sign-in.html', theme: 'border' })
