include ../dropdown/dropdown.pug
include ../date-picker/date-picker.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin registration({ title, link, textFieldName, textFieldSurName, radioButtons, textFieldDate, textFieldEmail, textFieldPassword, toggle, buttonSubmit, textSignIn, buttonSign})
  form.registration(action=link)
    h1.registration__title= title

    .registration__text-field
      +text-field(textFieldName)
    .registration__text-field
      +text-field(textFieldSurName)
    .registration__radio-buttons
      +radio-buttons(radioButtons)
    .registration__date-picker
      +text-field(textFieldDate)
    .registration__text-field
      +text-field(textFieldEmail)
    .registration__text-field
      +text-field(textFieldPassword)
    .registration__toggle
      +toggle(toggle)
    .registration__button
      +button(buttonSubmit)
    .registration__sign-in
      p.registration__text-sign-in= textSignIn
      +button(buttonSign)
