@mixin font-face($family, $style, $weight, $display, $path) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: $display;
    src: url('#{$path}.woff2') format('woff2'),
      url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'),
      url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#+#{$family}') format('svg');
  }
}

@include font-face(
  'Montserrat',
  normal,
  normal,
  swap,
  '~Fonts/montserrat-regular/montserrat-regular'
);
@include font-face('Montserrat', normal, bold, swap, '~Fonts/montserrat-700/montserrat-700');
@include font-face(
  'Material Icons',
  normal,
  normal,
  swap,
  '~Fonts/material-icons-regular/material-icons-regular'
);
@include font-face('FontAwesome', normal, normal, swap, '~Fonts/font-awesome/font-awesome');
