$dark-shade-100: #1F2041;
$dark-shade-75: rgba($dark-shade-100, .75);
$dark-shade-50: rgba($dark-shade-100, .50);
$dark-shade-25: rgba($dark-shade-100, .25);
$dark-shade-5: rgba($dark-shade-100, .05);
$color-primary: #BC9CFF;
$color-secondary: #6FCF97;

$gradient-primary: linear-gradient(180deg, $color-primary 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, $color-secondary 0%, #66D2EA 100%);

$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 345px;