mixin like-button(object)
    - var id = (object.id ? "like-button-" + object.id : "");

    .like-button
        if(object.checked)
            input(class="like-button__checkbox" id=id type="checkbox" checked)
        else
            input(class="like-button__checkbox" id=id type="checkbox")

        label(class="like-button__number" for=id)=object.number