@import '~Typography';

.like-button {
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    line-height: 0;
    color: $dark-shade-25;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    &_active {
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }

  &__checkbox {
    -webkit-appearance: none;
    margin: 0;
    height: 0;
  }

  &__checkbox:checked + &__icon {
    &:after {
      content: 'favorite';
      color: $color-primary;
    }
  }

  &__icon {
    @include material-icons;

    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: 10px;

    &:after {
      content: 'favorite_border';
      color: $dark-shade-25;
    }
  }

  &__number {
    margin-top: -1px;
    padding-left: 8px;
    font-family: $font-family_body;
    font-size: 10px;
    line-height: 0;
    cursor: pointer;
  }
}
