mixin like-button({ id, number, checked })
    - id = (id ? "like-button-" + id : "");

    .like-button
        if(checked)
            input(class="like-button__checkbox" id=id type="checkbox" checked)
        else
            input(class="like-button__checkbox" id=id type="checkbox")

        label(class="like-button__number" for=id)=number