@import '../../scss/global-typography';

.like-button {
    position: relative;
    display: flex;
    align-items: center;

    &__checkbox {
        @include material-icons;
        -webkit-appearance: none;
        width: 40px;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 0 4px;
        border: 1px solid $dark-shade-25;
        border-radius: 10px;
        cursor: pointer;

        &:after {
            content: "favorite_border";
            font-size: 10px;
            color:$dark-shade-25;
        }

        &:checked {
            color: $color-primary;
            border: 1px solid $color-primary;

            &:after {
                content: "favorite";
                font-size: 10px;
                color: $color-primary;
            }
        }
    }

    &__checkbox:checked + &__number {
        color: $color-primary;
    }

    &__number {
        position: relative;
        right: 23px;
        font-family: $font-family--body;
        font-size: 10px;
        color:$dark-shade-25;
        cursor: pointer;
    }
}