mixin block-type({ itemList })
  ul.block-type
    each item in itemList
      -
        let { theme, title, text } = item;
        let itemClass = '';
        const themeSetting = ['h1', 'h2', 'h3', 'body'];
        if(themeSetting.includes(theme)) itemClass += ' block-type__item_' + theme;

      li.block-type__item(class=itemClass)
        p.block-type__title= title
        p.block-type__text= text
