mixin block-type(object)

    for item in object.itemList
        - var className = (item.className ? " block-type--" + item.className : "");
        div(class="block-type" + className)
            p(class="block-type__title ")=item.title
            p(class="block-type__text ")=item.text