include ../button/button.pug
include ../page/page.pug
include ../center-block/center-block.pug

mixin header({ itemList, size, textLogin, loginButton, loginLink, registerButton })
  header.header.js-header
    +page({ state: "small" })
      +center-block
        a(href=loginLink) 
          img.header__logo(src='img/logo.svg', alt='logo')

        .header__wrapper-menu
          .header__burger.js-header__burger menu
          nav.header__menu.js-header__menu
            ul.header__list
              each item in itemList
                - let { state, link, text, isIcon, subItemList } = item;
                - const linkStateClass = state ? " header__link_" + state : "";
                - const itemSizeClass = size ? " header__item_" + size : "";
                - const iconSizeClass = size ? " header__icon_" + size : "";
                li(class="header__item" + itemSizeClass)
                  a(class="header__link" + linkStateClass, href=link)= text
                    if (subItemList)
                      i(class="header__icon" + iconSizeClass) expand_more
                  if (subItemList)
                    ul.header__sub-menu
                      each subItem in subItemList
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text

          if (textLogin)
            .header__login
              p.header__text-login= textLogin
          else
            - const buttonSizeClass = size ? " header__wrapper-button_" + size : "";
            div(class="header__wrapper-button" + buttonSizeClass)
              .header__button
                +button(loginButton)
              .header__button
                +button(registerButton)
