include ../button/button.pug
include ../page/page.pug
include ../center-block/center-block.pug

mixin header({ itemList, size, textLogin, loginButton, registerButton, subItemList1, subItemList2 })
  .header
    +page
      +center-block
        img.header__logo(src='img/Logo.png', alt='logo')

        .header__wrapper-menu
          nav.header__menu
            ul.header__list
              each item in itemList
                - let { state, link, text, isIcon, isSubItemList, isSubItemList2 } = item;
                - state = state ? " header__link--" + state : "";
                - const sizeItem = size ? " header__item--" + size : "";
                - const sizeIcon = size ? " header__icon--" + size : "";
                li(class="header__item" + sizeItem)
                  a(class="header__link" + state, href=link)= text
                    if (isIcon)
                      i(class="header__icon" + sizeIcon) expand_more
                  if (isIcon && isSubItemList)
                    ul.header__submenu
                      each subItem in subItemList1
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text
                  else if (isIcon && isSubItemList2)
                    ul.header__submenu
                      each subItem in subItemList2
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text

          if (textLogin)
            .header__login
              p.header__text-login= textLogin
          else
            - const smallButtons = size ? " header__wrapper-button--" + size : "";
            div(class="header__wrapper-button" + smallButtons)
              .header__button
                +button(loginButton)
              .header__button
                +button(registerButton)
