include ../button/button.pug
include ../page/page.pug
include ../centerblock/centerblock.pug

mixin header(object)
    .header
        +page
            +centerblock
                img(class="header__logo" src="img/Logo.png" alt="logo")

                .header__wrapper-menu
                    nav(class="header__menu")
                        ul(class="header__list")
                            for item in object.itemList
                                - var {state} = item;
                                - state = (state ? " header__link--" + state : "");
                                - var sizeItem = (object.size ? " header__item--" + object.size : "");
                                - var sizeIcon = (object.size ? " header__icon--" + object.size : "");
                                li(class="header__item" + sizeItem)
                                    a(class="header__link" + state href=item.link)=item.text
                                        if(item.icon)
                                            i(class="header__icon" + sizeIcon) expand_more
                                    if(item.icon && item.subItemList)
                                        ul(class="header__submenu")
                                            for subItem in object.subItemList1
                                                li(class="header__subitem")
                                                    a(class="header__link" href=subItem.link)=subItem.text
                                    else if(item.icon && item.subItemList2)
                                        ul(class="header__submenu")
                                            for subItem in object.subItemList2
                                                li(class="header__subitem")
                                                    a(class="header__link" href=subItem.link)=subItem.text

                    if(object.textLogin)
                        .header__login
                            p(class="header__text-login")=object.textLogin
                    else
                        - var smallbuttons = (object.size ? " header__wrapper-button--" + object.size : "");
                        div(class="header__wrapper-button" + smallbuttons)
                            .header__button
                                +button(object.loginButton)
                            .header__button
                                +button(object.registerButton)