include ../button/button.pug
include ../page/page.pug
include ../center-block/center-block.pug

mixin header(object)
  .header
    +page
      +center-block
        img.header__logo(src='img/Logo.png', alt='logo')

        .header__wrapper-menu
          nav.header__menu
            ul.header__list
              each item in object.itemList
                - let { state } = item;
                - state = state ? " header__link--" + state : "";
                - const sizeItem = object.size ? " header__item--" + object.size : "";
                - const sizeIcon = object.size ? " header__icon--" + object.size : "";
                li(class="header__item" + sizeItem)
                  a(class="header__link" + state, href=item.link)= item.text
                    if (item.isIcon)
                      i(class="header__icon" + sizeIcon) expand_more
                  if (item.isIcon && item.isSubItemList)
                    ul.header__submenu
                      each subItem in object.subItemList1
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text
                  else if (item.isIcon && item.isSubItemList2)
                    ul.header__submenu
                      each subItem in object.subItemList2
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text

          if (object.textLogin)
            .header__login
              p.header__text-login= object.textLogin
          else
            - const smallbuttons = object.size ? " header__wrapper-button--" + object.size : "";
            div(class="header__wrapper-button" + smallbuttons)
              .header__button
                +button(object.loginButton)
              .header__button
                +button(object.registerButton)
