@import '~Typography';
@import '~Blocks/button/button';
@import '~Blocks/page/page';
@import '~Blocks/center-block/center-block';

.header {
  position: relative;
  box-shadow: 0px 10px 20px $dark-shade-5;

  &__wrapper-menu {
    display: flex;
    align-items: center;
    flex-flow: wrap;

    @media (max-width: $breakpoint-md) {
      margin-top: 15px;
    }

    @media (max-width: $breakpoint-xs) {
      flex-flow: column;
    }
  }

  &__logo {
    height: 40px;
  }

  &__burger {
    @include material-icons;

    display: none;
    font-size: 35px;
    cursor: pointer;

    @media (max-width: $breakpoint-md) {
      display: block;
    }

    @media (max-width: $breakpoint-xs) {
      position: absolute;
      top: 15px;
      left: 13px;
      z-index: 5;
    }
  }

  &__menu {
    @media (max-width: $breakpoint-md) {
      position: absolute;
      top: 110px;
      display: none;
      padding: 10px;
      background: #fff;
      border-right: 1px solid $dark-shade-5;
      border-bottom: 1px solid $dark-shade-5;
      border-left: 1px solid $dark-shade-5;
      box-shadow: 0px 3px 7px $dark-shade-5;
      z-index: 10;
    }

    @media (max-width: $breakpoint-xs) {
      top: 50px;
      left: 13px;
    }

    &_active {
      display: block;
    }
  }

  &__list {
    display: flex;

    @media (max-width: $breakpoint-md) {
      flex-flow: column;
    }
  }

  &__item {
    margin-left: 20px;

    @media (max-width: $breakpoint-md) {
      margin: 0;
      padding: 7px;
      border-bottom: 1px solid $dark-shade-5;

      &:last-child {
        border: none;
      }
    }

    &:hover .header__sub-menu {
      display: block;
    }

    &_size {
      &_small {
        margin-left: 30px;
      }
    }
  }

  &__link {
    @include typo-body;

    display: flex;
    color: $dark-shade-50;
    text-decoration: none;

    &:hover,
    &_active {
      color: $dark-shade-75;
      text-shadow: 0.7px 0.1px 0px $dark-shade-50, -0.7px -0.1px 0px $dark-shade-50;
    }
  }

  &__icon {
    @include material-icons;

    position: relative;
    color: $dark-shade-50;

    &_size {
      &_small {
        margin-right: -13px;
      }
    }
  }

  &__sub-menu {
    position: absolute;
    display: none;
    padding: 5px;
    background: #fff;
    border-right: 1px solid $dark-shade-5;
    border-bottom: 1px solid $dark-shade-5;
    border-left: 1px solid $dark-shade-5;
    box-shadow: 0px 3px 7px $dark-shade-5;
    z-index: 10;
  }

  &__subitem {
    border-bottom: 1px solid $dark-shade-5;
    padding: 10px;

    &:last-child {
      border: none;
    }
  }

  &__login {
    margin-left: 23px;
    padding: 3px 0 3px 18px;
    border-left: 1px solid rgba(31, 32, 65, 0.1);

    @media (max-width: $breakpoint-xs) {
      margin-left: 0;
      padding: 3px 0 3px 7px;
    }
  }

  &__text-login {
    @include typo-body;

    color: $dark-shade-50;
  }

  &__wrapper-button {
    display: flex;
    margin-left: 2px;

    &_size {
      &_small {
        margin-left: 7px;
      }
    }
  }

  &__button {
    margin-left: 21px;

    @media (max-width: $breakpoint-xs) {
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}
