extends ~Layout/main-layout.pug

block variables
  include ~Blocks/col-4/col-4.pug
  include ~Blocks/hotel-search/hotel-search.pug
  include ~Blocks/registration/registration.pug
  include ~Blocks/reservation/reservation.pug
  include ~Blocks/sign-in/sign-in.pug
  include ~Blocks/hotel-card/hotel-card.pug

  - data = require("./ui-kits-cards.json");

  - const pageTitle = "Cards";
  - const classMain = "ui-kits-cards";
  - const isPageCenter = true;
  - const classImg = "ui-kits-cards__img";
  - const mainLink = "index.html";
  - headerProps = false;
  - footerProps = false;

block content
  +col-4
    .ui-kits-cards__hotel-search
      +hotel-search(data.hotelSearch)
    .ui-kits-cards__registration
      +registration(data.registration)
  +col-4
    .ui-kits-cards__reservation
      +reservation(data.reservation)
    .ui-kits-cards__sign-in
      +sign-in(data.signIn)
  +col-4
    .ui-kits-cards__wrapper-col
      .ui-kits-cards__date-picker
        .datepicker-here
    each item in data.hotelList
      - const { number, itemList, price, isLux, link, reviews, star, text } = item;
      .ui-kits-cards__hotel-card
        +hotel-card({number, itemList, price, isLux, link, reviews, star, text})
