mixin icon-text-list({ iconList })
  ul.icon-text-list
    each item in iconList
      - const { theme, icon, title, text } = item;
      li(class="icon-text-list__item " + (theme ? "icon-text-list__item--" + theme : ""))
        i.icon-text-list__icon= icon
        .icon-text-list__wrapper-text
          h3.icon-text-list__title= title
          p.icon-text-list__text= text
