mixin icon-text-list(object)
  .icon-text-list
    each item in object.iconList
      div(class="icon-text-list__item " + (item.theme ? "icon-text-list__item--" + item.theme : ""))
        i.icon-text-list__icon= item.icon
        .icon-text-list__wrapper-text
          p.icon-text-list__title= item.title
          p.icon-text-list__text= item.text
