mixin icon-text-list({ list })
  ul.icon-text-list
    each item in list
      -
        const { isOutlined, icon, title, text } = item;
        let itemClasses = '';

        if(isOutlined) itemClasses += ' icon-text-list__item_outlined';

      li.icon-text-list__item(class=itemClasses)
        i.icon-text-list__icon= icon
        .icon-text-list__wrapper-text
          p.icon-text-list__title= title
          p.icon-text-list__text= text
