mixin icon-text-list({ list })
  ul.icon-text-list
    each item in list
      -
        const { theme, icon, title, text } = item;
        let itemClass = '';
        const themeSetting = ['border'];

        if(themeSetting.includes(theme)) itemClass += ' icon-text-list__item_' + theme;

      li.icon-text-list__item(class=itemClass)
        i.icon-text-list__icon= icon
        .icon-text-list__wrapper-text
          h3.icon-text-list__title= title
          p.icon-text-list__text= text
