@import '~Typography';

.icon-text-list {
  &__item {
    display: flex;
    align-items: center;
    padding: 20px 0;

    &--border {
      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    }
  }

  &__icon {
    @include material-icons;
    margin-right: 10px;
    font-size: 48px;
    background-image: $gradient-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    @include typo-body;
    font-weight: bold;
  }

  &__text {
    @include typo-body;
    text-transform: none;
  }
}
